html, body {
  font-family: "museo-sans", arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: color 0.33s ease, opacity 0.3s ease;
  transition: color 0.33s ease, opacity 0.3s ease;
  color: #3a3a3f; }

html {
  opacity: 0; }
  html.wf-active {
    opacity: 1; }

section {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-display", sans-serif;
  color: #515151;
  font-weight: 400;
  font-style: normal; }

h1 {
  font-family: 'futura-pt'; }

a {
  text-decoration: none;
  -webkit-transition: color 0.33s ease, opacity 0.3s ease;
  transition: color 0.33s ease, opacity 0.3s ease; }
  a, a:visited {
    color: #c8461e; }
  a:hover, a:focus {
    color: #ff643c; }
  a:focus {
    outline: none; }

hr {
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 7px, #ccc 5px, #ccc 18px, transparent 18px, transparent 22px, #ccc 22px, #ccc 24px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, #ccc 5px, #ccc 18px, transparent 18px, transparent 22px, #ccc 22px, #ccc 24px);
  height: 10px;
  border: none; }

button {
  background: none;
  border: none;
  font-family: "museo-sans";
  -webkit-transition: color 0.33s ease, opacity 0.3s ease;
  transition: color 0.33s ease, opacity 0.3s ease; }
  button:hover {
    cursor: pointer; }
  button:focus {
    outline: none; }

strong {
  color: #223; }

i.fa {
  margin-right: 5px; }

.flex-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.touch-ripple {
  border-radius: 500px;
  background: rgba(255, 255, 255, 0.05);
  position: absolute;
  opacity: 1;
  -webkit-transition: width 0.4s ease, height 0.4s ease, margin 0.4s ease, opacity 0.8s ease, -webkit-transform 0.4s ease;
  transition: width 0.4s ease, height 0.4s ease, margin 0.4s ease, opacity 0.8s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, width 0.4s ease, height 0.4s ease, margin 0.4s ease, opacity 0.8s ease;
  transition: transform 0.4s ease, width 0.4s ease, height 0.4s ease, margin 0.4s ease, opacity 0.8s ease, -webkit-transform 0.4s ease;
  width: 1px;
  height: 1px; }
  .touch-ripple.fade-out {
    opacity: 0.001; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes spin3dOut {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 270deg);
            transform: rotate3d(1, 1, 1, 270deg); }
  to {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
            transform: rotate3d(1, 1, 1, 360deg); } }

@keyframes spin3dOut {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 270deg);
            transform: rotate3d(1, 1, 1, 270deg); }
  to {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
            transform: rotate3d(1, 1, 1, 360deg); } }

#banner {
  height: 52px;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1; }
  #banner canvas {
    position: absolute;
    top: 0; }
  #banner #layer1 {
    -webkit-animation: spin 140s cubic-bezier(0.24, 0.9, 0.85, 0.76), spin 380s 140s infinite linear;
            animation: spin 140s cubic-bezier(0.24, 0.9, 0.85, 0.76), spin 380s 140s infinite linear;
    z-index: 1; }
  #banner #layer2 {
    -webkit-animation: spin 300s cubic-bezier(0.24, 0.9, 0.85, 0.76), spin 500s 30s infinite linear;
            animation: spin 300s cubic-bezier(0.24, 0.9, 0.85, 0.76), spin 500s 30s infinite linear;
    opacity: 0.8;
    z-index: 2; }
  #banner #layer3 {
    -webkit-animation: spin 320s infinite linear;
            animation: spin 320s infinite linear;
    opacity: 0.5;
    z-index: 3; }
  #banner #layer4 {
    -webkit-animation: spin3dOut 30s cubic-bezier(0.24, 0.9, 0.85, 0.76), spin 400s 30s infinite linear;
            animation: spin3dOut 30s cubic-bezier(0.24, 0.9, 0.85, 0.76), spin 400s 30s infinite linear;
    z-index: 4; }
  #banner .particle {
    z-index: 10;
    position: relative; }

#banner-separator {
  width: 100%;
  height: 17px;
  background: url(../images/backgrounds/checkered-separator.png) repeat-x;
  position: relative;
  z-index: 1;
  margin-top: -1px; }

section#content {
  padding: 0;
  font-size: 19px;
  line-height: 175%;
  -webkit-animation: fade-in-animation 0.3s 1s ease forwards;
          animation: fade-in-animation 0.3s 1s ease forwards;
  opacity: 0; }
  section#content h2 {
    font-size: 40px;
    color: #333;
    margin-left: 5%; }
  section#content h3 {
    font-size: 25pt;
    margin-bottom: 0.25em; }
  section#content p {
    padding: 0 5% 0 0; }
  section#content a {
    border-bottom: 1px dotted #ccc; }
    section#content a:focus {
      border-bottom: 1px solid #dcb496; }
  section#content ol {
    counter-reset: pseudo-ordered-list;
    -webkit-transition: padding 0.3s ease;
    transition: padding 0.3s ease;
    padding-left: 45px; }
    section#content ol li {
      list-style-type: none;
      position: relative;
      margin-bottom: 1.5em;
      clear: both; }
      section#content ol li p {
        width: 60%; }
        @media only screen and (max-width: 800px) {
          section#content ol li p {
            width: 100%; } }
      section#content ol li:before {
        border-radius: 20px;
        border: 1px solid #ddd;
        color: #666;
        content: counter(pseudo-ordered-list);
        counter-increment: pseudo-ordered-list;
        font-size: 19px;
        font-weight: bold;
        height: 25px;
        left: -37px;
        line-height: 132%;
        position: absolute;
        text-align: center;
        top: 3px;
        width: 25px; }
  section#content section {
    background: #e3e3e3;
    margin: 0em 0 0em;
    padding: 1px 0 0 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    clear: both; }
    section#content section:last-child {
      margin-top: -2em;
      margin-bottom: -2em;
      margin-left: -1em;
      padding: 1em; }
    section#content section .block {
      display: block; }
    section#content section img {
      max-width: 100%; }

ul.cards, ul.strips {
  margin: -17px 0 0 0; }
  ul.cards.strips, ul.strips.strips {
    padding: 0; }
  ul.cards.cards, ul.strips.cards {
    padding: 0 5%; }
  ul.cards h3, ul.strips h3 {
    margin-top: 0; }
  ul.cards > li, ul.strips > li {
    overflow: hidden;
    padding: 5%;
    list-style-type: none; }
  ul.cards.cards > li, ul.strips.cards > li {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fcfcfc;
    border-radius: 3px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.15);
    margin: 0 0 2em; }
  ul.cards.strips > li, ul.strips.strips > li {
    background: #eee;
    padding: 7% 8%;
    box-shadow: inset 0px 5px 30px rgba(0, 0, 0, 0.2); }
    ul.cards.strips > li p, ul.strips.strips > li p {
      margin-top: 2.5em;
      line-height: 180%;
      font-size: 20px; }
    ul.cards.strips > li#code-strip, ul.strips.strips > li#code-strip {
      background: url(../images/backgrounds/noisy-grid-inverted.jpg) repeat #bbb;
      background-blend-mode: overlay;
      color: #555; }
    ul.cards.strips > li#js-strip, ul.strips.strips > li#js-strip {
      background: url(../images/backgrounds/hexagons-2.jpg) repeat #303B40;
      background-blend-mode: overlay;
      color: #667a83; }
      ul.cards.strips > li#js-strip h3, ul.strips.strips > li#js-strip h3 {
        color: #b9d2dd; }
    ul.cards.strips > li#cms-strip, ul.strips.strips > li#cms-strip {
      background: url(../images/backgrounds/triangle-pattern-2.jpg) repeat #e1e1e1;
      background-blend-mode: overlay; }
    ul.cards.strips > li:nth-child(4n-2), ul.strips.strips > li:nth-child(4n-2) {
      background: #303B40;
      color: #c3d4dc; }
      ul.cards.strips > li:nth-child(4n-2) h3, ul.strips.strips > li:nth-child(4n-2) h3 {
        color: white; }
    ul.cards.strips > li:nth-child(4n), ul.strips.strips > li:nth-child(4n) {
      background: #23343C;
      color: #c3d4dc; }
      ul.cards.strips > li:nth-child(4n) h3, ul.strips.strips > li:nth-child(4n) h3 {
        color: white; }
  ul.cards img.illustration, ul.strips img.illustration {
    float: right;
    height: auto;
    max-width: 30%;
    max-height: 300px;
    margin-top: -10px;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    -webkit-transition: width 0.3s ease, padding 0.3s ease;
    transition: width 0.3s ease, padding 0.3s ease; }
    @media only screen and (max-width: 800px) {
      ul.cards img.illustration, ul.strips img.illustration {
        max-width: 40%; } }
    @media only screen and (max-width: 600px) {
      ul.cards img.illustration, ul.strips img.illustration {
        width: 100%;
        max-height: none;
        margin: auto;
        padding: 0 3em;
        box-sizing: border-box; } }

@-webkit-keyframes fade-in-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.dot-container {
  position: relative; }

.dot-boundary, .dot {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.dot {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.05);
  background-image: url("../images/bgnoise-01.png");
  background-blend-mode: color-burn; }

section#obligatory-footer {
  padding: 1em 0 1em 12.4%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #888;
  font-size: 14px; }
  section#obligatory-footer p {
    margin: 0; }
  section#obligatory-footer p#silly {
    color: #666; }

#header {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 600px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #header.scrollingDown, #header.scrolled {
    height: 52px !important;
    position: fixed;
    background: #121418;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
    opacity: 0.9; }
  #header #header-contents {
    -webkit-transition: all 0.2s 0.2s ease;
    transition: all 0.2s 0.2s ease;
    min-width: 600px;
    width: 600px;
    height: 170px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  #header.scrollingDown #header-contents, #header.scrolled #header-contents {
    width: 90%;
    padding: 0 5%;
    height: 52px; }
  #header #icon {
    float: left; }
    #header #icon:hover {
      cursor: pointer; }
    #header #icon img {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      height: 120px;
      width: auto; }
  #header.scrollingDown #icon img, #header.scrolled #icon img {
    height: 50px;
    width: auto; }
  #header #logotype {
    display: none;
    float: left;
    opacity: 0;
    -webkit-transition: opacity 2s ease;
    transition: opacity 2s ease;
    color: #333;
    font-family: futura-pt;
    font-size: 37px;
    margin-left: 0.2em;
    line-height: 50px; }
    #header #logotype img {
      height: 50px;
      width: auto; }
  #header.scrollingDown #logotype {
    display: block; }
  #header.scrolled #logotype {
    display: block;
    opacity: 1; }
    @media only screen and (max-width: 600px) {
      #header.scrolled #logotype {
        opacity: 0; } }
  #header h1 {
    color: #eee;
    font-size: 69px;
    line-height: 110%;
    margin: 0;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
  #header.scrollingDown h1 {
    opacity: 0; }
  #header.scrolled h1 {
    display: none; }
  #header h2 {
    font-size: 33px;
    line-height: 110%;
    margin: 0;
    opacity: 1;
    color: #aaa; }
  #header.scrollingDown h2 {
    opacity: 0; }
  #header.scrolled h2 {
    display: none; }
  #header.scrollingUp h2 {
    display: block;
    opacity: 1; }

nav#menu {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
  color: #fcc62b;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  font-size: 23px; }
  nav#menu button {
    color: #fcc62b;
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-size: 23px;
    padding: 0.5em 0.66em 0 0;
    text-transform: uppercase;
    position: relative; }
    nav#menu button i {
      display: none; }
    nav#menu button:hover i, nav#menu button:focus i {
      color: #888; }
    nav#menu button.active {
      color: #FFECB6; }
      nav#menu button.active i {
        color: #888; }
      nav#menu button.active .progress-bar {
        opacity: 1; }
  nav#menu .menu-separator {
    margin-right: 0.66em; }

#header.scrollingDown nav#menu {
  opacity: 0; }

#header.scrolled nav#menu {
  position: absolute;
  right: 5%;
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }

nav#menu .progress-bar {
  -webkit-transition: opacity 0.5s ease, width 0.03s linear;
  transition: opacity 0.5s ease, width 0.03s linear;
  background: -webkit-repeating-linear-gradient(45deg, #FFECB6, #FFECB6 3px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0) 8px);
  background: repeating-linear-gradient(45deg, #FFECB6, #FFECB6 3px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0) 8px);
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 0;
  opacity: 0; }

@-webkit-keyframes slide-from-left {
  0% {
    margin-left: -12%; }
  100% {
    margin-left: 0; } }

@keyframes slide-from-left {
  0% {
    margin-left: -12%; }
  100% {
    margin-left: 0; } }

.pannable:not(.active) {
  opacity: 0; }

.pannable-container {
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.05) 8px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.05) 8px);
  border: 1px solid #ddd;
  overflow: hidden; }
  @media only screen and (max-width: 600px) {
    .pannable-container {
      height: auto; }
      .pannable-container .pannable-thumbnail-container {
        opacity: 0; }
      .pannable-container .pannable-large {
        width: 100% !important;
        height: auto; } }

.pannable-thumbnail-container {
  height: 100%;
  float: right;
  opacity: 1;
  position: relative;
  -webkit-transition: height 0.3s ease, width 0.3s ease;
  transition: height 0.3s ease, width 0.3s ease; }
  .pannable-thumbnail-container .pannable-thumbnail {
    height: 100%;
    -webkit-transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
    transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease; }

.pannable-large {
  -webkit-transition: margin 0.5s ease, width 0.3s ease;
  transition: margin 0.5s ease, width 0.3s ease;
  border-right: 1px solid #ddd; }

.pannable-thumbnail-overlay {
  position: absolute;
  width: 100%; }
  .pannable-thumbnail-overlay .pannable-cover {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    -webkit-transition: height 0.2s ease;
    transition: height 0.2s ease; }
  .pannable-thumbnail-overlay .pannable-clear {
    border: 1px solid rgba(250, 250, 250, 0.4);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    width: 100%; }
  .pannable-thumbnail-overlay:hover {
    cursor: move; }

section#introduction h2 {
  display: inline;
  color: #aaa;
  border: none;
  font-size: 28px; }

section#introduction h3 {
  margin-bottom: 1em; }

section#introduction .intro-paragraph {
  color: #5c5c5c; }
  section#introduction .intro-paragraph p:first-of-type {
    display: inline; }

section#introduction .flex-column {
  margin: 1.5em 0 1em;
  padding: 0 2em; }
  section#introduction .flex-column:not(:last-child) {
    border-right: 1px dashed #ccd; }
  section#introduction .flex-column p:first-of-type {
    color: #555; }

section#resume ul.cards h3 {
  margin-bottom: 1em; }

section#resume ul.cards > li > ul {
  list-style-type: none; }

section#resume ul#languages, section#resume ul#software {
  padding: 0; }
  section#resume ul#languages li, section#resume ul#software li {
    margin: 0.6em 0;
    padding: 0.6em 0; }
    section#resume ul#languages li:not(:last-of-type), section#resume ul#software li:not(:last-of-type) {
      border-bottom: 1px solid #ddd; }
  section#resume ul#languages p, section#resume ul#software p {
    margin: 0;
    color: #616367;
    font-style: italic; }

section#resume ul#experience {
  padding-left: 20px; }
  section#resume ul#experience ul li {
    list-style-type: circle; }
  section#resume ul#experience > li {
    margin-bottom: 2em; }
  section#resume ul#experience h4 {
    margin: 0 0 0.66em; }

section#resume h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 115%;
  font-family: "museo-sans", sans-serif; }
  section#resume h4 .employer {
    font-weight: bold; }
  section#resume h4 .role {
    font-weight: normal;
    font-style: italic;
    margin-left: 0.4em;
    padding-left: 0.4em; }
    section#resume h4 .role:before {
      content: '-';
      margin-left: -0.5em;
      margin-right: 0.5em;
      color: #888; }

section#resume h5 {
  margin: 0 0 1em;
  color: #777;
  font-style: italic;
  font-size: 17px;
  line-height: 115%; }

section#resume .timeframe {
  color: #888;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 135%; }

section#title-bar {
  background: url(../images/bgnoise-01-4d4d4d.png) repeat;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  height: 39px;
  padding: 1px 5% 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-animation: slide-from-top 0.3s 0.5s ease forwards;
          animation: slide-from-top 0.3s 0.5s ease forwards;
  top: -49px; }
  section#title-bar h1 {
    margin: 2px 0 0 0;
    display: inline-block; }
    section#title-bar h1 img {
      width: auto;
      height: 40px; }
  section#title-bar a.contact {
    float: right;
    color: #ccc;
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.4));
    background-image: radial-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.4));
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.23);
    border-radius: 4px;
    padding: 3px 15px 3px 45px;
    position: relative;
    font-size: 18px;
    margin: 3px 0 0 0;
    letter-spacing: 0.25px;
    -webkit-transition: color 0.3s ease, opacity 0.3s cubic-bezier(0.83, -1.6, 0.35, 1), background-image 0.3s ease;
    transition: color 0.3s ease, opacity 0.3s cubic-bezier(0.83, -1.6, 0.35, 1), background-image 0.3s ease;
    opacity: 0.9; }
    section#title-bar a.contact i {
      color: #999;
      font-size: 20px;
      position: absolute;
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.83, -1.6, 0.35, 2.9);
      transition: -webkit-transform 0.2s cubic-bezier(0.83, -1.6, 0.35, 2.9);
      transition: transform 0.2s cubic-bezier(0.83, -1.6, 0.35, 2.9);
      transition: transform 0.2s cubic-bezier(0.83, -1.6, 0.35, 2.9), -webkit-transform 0.2s cubic-bezier(0.83, -1.6, 0.35, 2.9);
      left: 15px;
      top: 5px; }
    section#title-bar a.contact span.text {
      -webkit-transition: max-width 0.6s ease, opacity 0.2s ease;
      transition: max-width 0.6s ease, opacity 0.2s ease;
      display: block;
      max-width: 100px; }
    @media only screen and (max-width: 600px) {
      section#title-bar a.contact {
        padding-right: 5px; }
        section#title-bar a.contact span.text {
          display: block;
          opacity: 0;
          max-width: 0; } }
    section#title-bar a.contact:hover, section#title-bar a.contact:focus {
      color: #d9d7d5;
      background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.6));
      background-image: radial-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.6));
      opacity: 1; }
    section#title-bar a.contact:hover i {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

#title-bar-shadow {
  background: url(../images/bgnoise-01-3d3d3d.png) repeat;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3);
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 9;
  -webkit-animation: slide-from-top 0.4s 0.4s ease forwards;
          animation: slide-from-top 0.4s 0.4s ease forwards;
  top: -49px; }

@-webkit-keyframes slide-from-top {
  0% {
    top: -49px; }
  100% {
    top: 0px; } }

@keyframes slide-from-top {
  0% {
    top: -49px; }
  100% {
    top: 0px; } }
