html, body {
  font-family: $body-font, arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../images/bgnoise-01.png) repeat;
  transition: color 0.33s ease, opacity 0.3s ease;
  color: #3a3a3f;
}

html {
  opacity: 0;

  &.wf-active {
    opacity: 1;
  }
}

section {
  clear: both;
}

h2 {

}

a {
  text-decoration: none;
  transition: color 0.33s ease, opacity 0.3s ease;
  border-bottom: 1px dotted #ccc;
  &, &:visited {
    color: rgb(120,70,200);
  }
  &:hover, &:focus {
    color: rgb(220,60,0);
  }
}

button {
  background: none;
  border: none;
  font-family: $body-font;
  transition: color 0.33s ease, opacity 0.3s ease;

  // states
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

strong {
  color: #223;
}

i.fa {
  margin-right: 5px;
}

.flex-me {
  display: flex;
}
