section#content {
  padding: 46px 0 0 ($menu-width + $menu-shadow-width);

  font-size: 19px;
  line-height: 175%;
  p {
    padding: 0 $page-indent 0 0;
  }
  a {
    border-bottom: 1px dotted #ccc;
  }
  section {
    margin: 3em 0 1em;
    padding: 0 $page-indent 2em;
    border-bottom: 4px solid rgba(0,0,0,0.1);
    clear: both;

    .block {
      display: block;
    }
    .indent {
    }
    img {
      max-width: 100%;
    }
  }
  section#introduction {
    h2 {
      display: inline;
      color: #aaa;
    }
    h3 {
      font-size: 21pt;
    }
    .intro-paragraph {
      p:first-of-type {
        display: inline;
      }
      color: #5c5c5c;
    }
    .flex-column {
      margin: 1.5em 0 1em;
      padding: 0 2em;

      &:not(:last-child) {
        border-right: 1px dashed #ccd;
      }

      p:first-of-type {
        color: #555;
      }
    }
    ol {
      counter-reset: pseudo-ordered-list;
      padding: 0 0 0 10%;
      transition: padding 0.3s ease;
      
      @media #{$medium} {
        padding: 0 0 0 5%;
      }
      @media #{$small} {
        padding: 0;
      }

      li {
        list-style-type: none;
        position: relative;
        margin-bottom: 1.5em;
        clear: both;
        overflow: hidden;

        // children
        p {
          width: 60%;
          @media #{$medium} {
            width: 100%;
          }
        }

        // pseudo-classes
        &:before {
          border-radius: 20px;
          border: 1px solid #ddd;
          color: #666;
          content: counter(pseudo-ordered-list);
          counter-increment: pseudo-ordered-list;
          font-weight: bold;
          height: 25px;
          left: -2em;
          line-height: 132%;
          position: absolute;
          text-align: center;
          top: 3px;
          width: 25px;
        }

        // children
        img {
          float: right;
          height: auto;
          width: 30%;
          margin-top: -10px;
          margin-left: 10%;
          margin-right: 10%;
          display: block;
          transition: width 0.3s ease;

          @media #{$medium} {
            width: 40%;
          }
          @media #{$small} {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
