section#content {
  padding: 0;
  font-size: 19px;
  line-height: 175%;
  animation: fade-in-animation 0.3s 1s ease forwards;
  opacity: 0;

  h2 {
    font-size: 40px;
    color: #333;
    margin-left: 5%;
  }
  h3 {
    font-size: 25pt;
    margin-bottom: 0.25em;
  }
  p {
    padding: 0 $page-indent 0 0;
  }
  a {
    border-bottom: 1px dotted #ccc;
    &:focus {
      border-bottom: 1px solid rgb(220,180,150);
    }
  }
  ol {
    counter-reset: pseudo-ordered-list;
    transition: padding 0.3s ease;
    padding-left: 45px;

    li {
      list-style-type: none;
      position: relative;
      margin-bottom: 1.5em;
      clear: both;

      // children
      p {
        width: 60%;
        @media #{$medium} {
          width: 100%;
        }
      }

      // pseudo-classes
      &:before {
        border-radius: 20px;
        border: 1px solid #ddd;
        color: #666;
        content: counter(pseudo-ordered-list);
        counter-increment: pseudo-ordered-list;
        font-size: 19px;
        font-weight: bold;
        height: 25px;
        left: -37px;
        line-height: 132%;
        position: absolute;
        text-align: center;
        top: 3px;
        width: 25px;
      }


    }
  }
  section {
    background: #e3e3e3;
    margin: 0em 0 0em;
    padding: 1px 0 0 0;
    border-bottom: 10px solid rgba(0,0,0,0.1);
    clear: both;
    &:last-child {
      margin-top: -2em;
      margin-bottom: -2em;
      margin-left: -1em;
      padding: 1em;
    }

    .block {
      display: block;
    }
    .indent {
    }
    img {
      max-width: 100%;
    }
  }
}

ul.cards, ul.strips {
  &.strips {
    padding: 0;
  }
  &.cards {
    padding: 0 5%;
  }
  margin: -17px 0 0 0;

  h3 {
    margin-top: 0;
  }

  > li {
    overflow: hidden;
    padding: 5%;
    list-style-type: none;
  }
  &.cards > li {
    border: 1px solid rgba(0,0,0,0.1);
    background: #fcfcfc;
    border-radius:3px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.15);
    margin: 0 0 2em;
  }
  &.strips > li {
    background: #eee;
    padding: 7% 8%;
    box-shadow: inset 0px 5px 30px rgba(0,0,0,0.2);

    p {
      margin-top: 2.5em;
      line-height: 180%;
      font-size: 20px;
    }

    &#code-strip {
      background: url(../images/backgrounds/noisy-grid-inverted.jpg) repeat #bbb;
      background-blend-mode: overlay;
      color: #555;
      p {

      }
    }

    &#js-strip {
      background: url(../images/backgrounds/hexagons-2.jpg) repeat #303B40;
      background-blend-mode: overlay;
      color: #667a83;
      h3 {
        color: #b9d2dd;
      }
    }

    &#cms-strip {
      background: url(../images/backgrounds/triangle-pattern-2.jpg) repeat #e1e1e1;
      background-blend-mode: overlay;
    }

    &:nth-child(4n-2) {
      background: #303B40;
      color: #c3d4dc;
      h3 {
        color: white;
      }
    }

    &:nth-child(4n) {
      background: #23343C;
      color: #c3d4dc;
      h3 {
        color: white;
      }
    }
  }

  img.illustration {
    float: right;
    height: auto;
    max-width: 30%;
    max-height: 300px;
    margin-top: -10px;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    transition: width 0.3s ease, padding 0.3s ease;

    @media #{$medium} {
      max-width: 40%;
    }
    @media #{$small} {
      width: 100%;
      max-height: none;
      margin: auto;
      padding: 0 3em;
      box-sizing: border-box;
    }
  }
}

@keyframes fade-in-animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
