section#menu-bar {
  background: $menu-bar-bg;
  box-shadow: 0 2px 3px $bar-shadow-color;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 40px;
  width: $menu-width;
  z-index: 5;

  button {
    background-image: radial-gradient(transparent, transparent);
    border-bottom: 1px solid $dark-gray-shadow;
    color: #b3b3b3;
    display: block;
    font-size: 16px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    width: 100%;

    // children
    i {
      clear: both;
      color: #666;
      display: block;
      font-size: 31px;
      margin: 4px 0 8px 0;
    }
    .progress-bar {
      transition: opacity 0.5s ease;
      background: rgba(100,100,100,1);
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
    }
    .text {
      white-space: nowrap;
      transition: opacity 0.15s ease, line-height 0.8s ease, height 0.8s ease;
      display: block;
    }
    &.text-overflow .text {
      opacity: 0;
      line-height: 0;
    }

    // states
    &:hover, &:focus {
      color: #ddd;
      i {
        color: #888;
      }
    }
    &.active {
      background-image: $active-menu-item-bg;
      color: #ccc;
      i {
        color: #888;
      }
      .progress-bar {
        opacity: 1;
      }
    }
  }
}
#menu-bar-shadow {
  width: $menu-width + $menu-shadow-width;
  height: 100%;
  background: $menu-bar-accent;
  position: fixed;
  z-index: 4;
}
